# Question 1
# What are data structures, and why are they important?
Data structures are ways to store and organize data efficiently. They help make programs run faster and make handling data easier.

# Question 2
# Explain the difference between mutable and immutable data types with examples.
Mutable data types can be changed after creation (e.g., lists, dictionaries). Immutable types cannot be changed (e.g., strings, tuples).

# Question 3
# What are the similarities and differences between lists and tuples in Python?
Both store multiple items and support indexing. Lists are mutable and use [], while tuples are immutable and use ().

# Question 4
# Describe how dictionaries store data, and how is it different from a list?
Dictionaries store data in key-value pairs. Lists store data by index numbers. Dictionaries are good for quick access using a key.

# Question 5
# Why might you use a set instead of a list in Python?
Sets are used when you need only unique items and want fast lookup. They automatically remove duplicate values.

# Question 6
# What is a string in Python, and how is it different from a list?
A string is a sequence of characters and is immutable. A list can store any data types and can be changed.

# Question 7
# How do tuples ensure data integrity in Python?
Tuples are immutable, so they protect data from being changed accidentally, keeping the data safe.

# Question 8
# What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores values using a key and a hash function. Python dictionaries use hash tables to allow fast key-based lookups.

# Question 9
# Can lists contain different data types in Python?
Yes, lists can hold different types of data like strings, integers, floats, and even other lists.

# Question 10
# Explain why strings are immutable data types in Python.
Strings are immutable, meaning their content cannot be changed. This helps make programs safer and faster.

# Question 11
# What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide quick access using keys. They are good for storing related information like names and phone numbers.

# Question 12
# Describe a scenario where using a tuple would be preferable over a list.
Tuples are used when data should not change, like storing days of the week or coordinates (x, y).

# Question 13
# How do sets handle duplicate values? Give an example.
Sets remove duplicates automatically. Example: {1, 2, 2, 3} becomes {1, 2, 3}.

# Question 14
# Can you modify the elements of a tuple? Explain why or why not.
No, tuples cannot be changed after creation. They are immutable.

# Question 15
# What is a nested dictionary and what is a typical use case?
A nested dictionary has another dictionary inside it. It's used to store structured data like student details under roll numbers.

# Question 16
# Can you sort the elements in a dictionary?
You can't sort a dictionary directly, but you can sort its keys or values using the sorted() function.

# Question 17
# Describe the time complexity of accessing elements in a dictionary.
Accessing values in a dictionary is very fast, usually O(1), because of how hashing works.

# Question 18
# What situations are lists preferred over dictionaries?
Lists are better when you only need to store items in order and donâ€™t need to use keys to identify them.

# Question 19
# Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries store values by key, not position. Even if order is preserved in newer Python versions, access is still key-based.

# Question 20
# Explain the difference between a list and a dictionary in terms of data retrieval.
In lists, data is accessed by index number. In dictionaries, data is accessed by keys.

In [1]:
#Write a code to create a string with your name and print it
name="Akshita Sankhwar"
print(name)

Akshita Sankhwar

In [2]:
#Write a code to find the length of the string "Hello World"
word="Hello World"
print(len(word))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
word="Python Programming"
print(word[0:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase
word="hello"
print(word.upper())

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
word="I like apple"
print(word.replace("apple","orange"))

I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [11]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [13]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [14]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple=(10,20,5,15)
print(min(tuple))

5

In [15]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [16]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple=("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [17]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1={'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [40]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [19]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [20]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1, 2, 3}
set2={3, 4, 5}
print(set1|set2)

{1, 2, 3, 4, 5}

In [21]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1, 2, 3}
set2={3, 4, 5}
print(set1&set2)

{3}

In [22]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict={"name":"Akshita","age":22,"city":"Lucknow"}
print(dict)

{'name': 'Akshita', 'age': 22, 'city': 'Lucknow'}

In [23]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict={'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [25]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [27]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

list=[1,2,3,4]
print(list)
tuple=(1,2,3,4)
print(tuple)
dict={"name":"Akshita","age":22,"city":"Lucknow"}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Akshita', 'age': 22, 'city': 'Lucknow'}

In [28]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list=[random.randint(1,100) for i in range(5)]
list.sort()
print(list)

[9, 13, 29, 82, 93]

In [29]:
# Write a code to create a list with strings and print the element at the third index
list=["apple","banana","kiwi"]
print(list[2])

kiwi

In [30]:
# Write a code to combine two dictionaries into one and print the result
dict1={"name":"Akshita","age":22}
dict2={"city":"Lucknow","state":"Uttar Pradesh"}
dict1.update(dict2)
print(dict1)

{'name': 'Akshita', 'age': 22, 'city': 'Lucknow', 'state': 'Uttar Pradesh'}

In [1]:
#Write a code to convert a list of strings into a set
list=["apple","banana","kiwi"]
set1 = set(list)
print(set1)

{'kiwi', 'apple', 'banana'}